body {
  background: url(../resource/background1.jpg) no-repeat center fixed;
  background-size: cover;
}

#wrap {
  margin: 20vh auto auto;
  padding: 25px;
  border-radius: 15px;
  width: 360px;
  opacity: 0.95;
  background: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#registerForm {
  display: none;
}

#loginButton, #regButton {
  margin: 40px auto 10px;
}

.tip {
  color: #666;
}