header {
  opacity: 0.95;
}

#wrap {
  margin: 6vh auto auto;
  padding: 25px;
  border-radius: 15px;
  width: 700px;
  opacity: 0.95;
  background: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

textarea {
  resize: none;
}

body {
  background: url(../resource/background4.jpg)no-repeat center fixed;
  background-size: cover;
}

#submit {
  width: 50%;
  margin: 50px auto;
}

#photo2, #photo3 {
	margin-top: 8px;	
}