header {
  opacity: 0.95;
}

body {
  background: url(../resource/background7.jpg) no-repeat center fixed;
  background-size: cover;
}

span {
  float: right;
}

img {
  height: 123px;
}

#wrap {
  width: 100%;
  margin: 10vh auto auto;
}

#list {
  background: white;
  border-radius: 10px;
  padding: 25px;
	height: 820px;
  opacity: 0.95;
}

#menu {
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
}

#page {
  position: absolute;
  left: 40%;
  bottom: 0;
}
/*
#pddisplay {
  height: 600px;
}
*/
.cell {
  border: 1px solid #909090;
  margin-top: 6px;
	height: 125px;
  box-sizing: border-box;
}

.panel-group {
  margin: 0;
}

.panel-body {
  padding: 0;
}

.list-group {
  margin: 0;
}
